@charset "UTF-8";


body { background-image: linear-gradient(to right,#5CF295,#60FC6F,#81E663);
    font-family: Arial, Helvetica, sans-serif;

} 

main {background-color: white;
    padding: 10px;
    margin: auto;
    width: 750px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #327021;


}

p { text-align: justify;


}

h1 {
    color: #992385;
    text-align: center;
    text-shadow: 1px 1px 1px #992385;
}

h2 {
    color: #E663D0;
}